  @media screen and (max-width: 768px)
{

  #.down .fas
  {
    margin-left: 300px;
  }

}


@media all and (max-width: 800px)

{
  body
  {
  height: 990px;
  }

  header /*ok*/
  {
    display: flex;
    align-items: center;
  }

  ul
  {
    font-size: 13px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-left: 40px;
  }

  h2
  {
  font-size: 20px;
  padding-left: 0;
  padding-right: 0;
  }

  .down .fas
  {
    font-size: 25px;
    margin-left: 70px;
  }

  .noteTitle, .chic, .delice, .gout
  {
    width: 60%;
    font-size: 22px;
  }

    .end
  {
    position: fixed;
    bottom: 0;
    font-size: 16px;
    width: 100%;
  }

}











