html
{
  font-family: 'Advent Pro', sans-serif;
  height: 100%;
}

body
{
  background: #FAEBD7;
}

h1 /*ok*/
{
  background: linear-gradient(to right, #008000, #A8FF33);
  -webkit-background-clip: text;
}

header, h2 /*ok*/
{
  text-align: center;
}

hr
{
  height: 30px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 1px 0 0 0;
  border-radius: 20px;
  width: 90%;
}

h2
{
  background-color: #FAEBD7;
  padding-left: 30px;
  padding-right: 30px;
  margin: -55px auto auto auto;
  width: 171px;
}

